body {
    background-color: #96d18f;
    margin: 20px;
    font-size: 20px;
}

p{
    color: whitesmoke;
    background-color: darkolivegreen;
    padding: 30px;
    margin: 30px;
}

li {
    color: gray;
}

ol {
    background-color: whitesmoke;
}

.introduction {
    background-color: rgb(216, 120, 120);
    border: 5px dashed #96d18f;
}