body {
    background-color: #f5edda
}
.center {
    background-color: #b78876;
    padding:10px;
    text-align: center;
    max-width:500px;
    margin: 0 auto;
    border-radius: -100;
    
}
#drinks {
  position: relative;
  background-color: #daccba;
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  left: 750px;
  top: -220px;

}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3b2621;
}

#beans {
    position: relative;
    background-color: #895b4a;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    left: 450px;
    top: 0px;

}
#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3b2621;
}

#cup {

    position: relative;
    top: -84px;
    left:230px;



}

